        :root {
            --primary-color: rgb(255, 255, 0);
            --secondary-color: rgb(255, 255, 0);
        }
        body {
            align-items: center;
            justify-content: center;
            background-color: black;
            font-family: serif;
            color: var(--primary-color);
            width: 100vw;  
            height: 90vh;
        }
        footer {
            display: flex;
            margin-left: 10px;
            margin-top: 10px;
            justify-content: left;
        }
        #logo-img {
            z-index: 100;
            width: 150px;
            position: relative;
            top: 0;
            left: 0;
            height: auto;
        }
        #header {
            margin-top: 10px;
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        #welcome {
            font-size: 150px;
            margin: 0;
            font-weight: normal;
            margin-left: 0px;
        }
        .dividing-line {
            margin-top: 20px;
            margin-bottom: 10px;
            width: 88px;
            border-bottom: 1px solid ;
        }
        #curves {
            z-index: -1;
            top: 0;
            position: absolute;
            height: 100vh;
            width: 100%;
            border: none;
        }
        #dots {
            z-index: 0;
            top: 0;
            position: absolute;
            height: 100vh;
            width: 100%;
            border: none;
            margin: 0;
        }
        #content {
            display: grid;
            width: 100%;
            justify-items: center;
            justify-content: center;
        }
        #link-container {
            height: 100%;
            border: 1px solid var(--primary-color);
        }
        p {
            font-family: serif;
            margin: 0;
            margin-top: 5px;
        }
        a {
            color: var(--primary-color);
            text-decoration: none;
        }
        #nav {
            z-index: 10;
            padding: 0;
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
        }
        #nav-item {
            z-index: 10;
            position: relative;
            background-color: black;
            cursor: pointer;
            color: var(--secondary-color);
            font-family: Helvetica;
            margin-right: 10px;
            font-weight: 100;
            border-radius: 8px;
            list-style: none;
            border: 2px solid var(--secondary-color);
            padding: 10px;
            transition: 0.2s ease;
            font-size:medium;
        }
        #nav-item:hover {
            background-color: var(--secondary-color);
            color: black;
        }
        .image-div {
            display: none;
            margin-top: 9px;
            width: 100vw;
        }
        .image {
            border: 1px var(--secondary-color) solid;
            height: 250px;
            width: 325px;
            margin-right: 1px;
            margin-top: 1px;
        }
        ::-webkit-scrollbar {
            height: 5px;
            width: 5px;
            cursor: pointer;
            background: transparent;
            border-radius: 5px;
        }
        .wav {
            margin-left: 10px;
            background-color: var(--primary-color);
        }
        ::-webkit-media-controls-panel {
            background: var(--primary-color);
        }
        .wav-container {
            justify-content: space-between;
            width: 660px;
            padding-left: 10px;
            border: 1px solid var(--primary-color);
            font-family: Serif;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
        #widget {
            border-radius: 0x !important;
            border: 1px solid var(--secondary-color);
            background-color: black;
        }
        .g-background-default {
            background-color: #FFFF00 !important;
        }
        .about {
            z-index: 1;
            position: relative;
            color: var(--secondary-color);
            font-family: helvetica;
            font-weight: 100;
            margin-top: 10px;
            text-align: center;
            width: max-content;
        }
        .text-link {
            width: max-content;
            margin-top: 10px;
            font-family: Serif;
            color: var(--secondary-color);
            text-decoration: underline !important;
        }
        #soundcloud-player {
            padding: 5px; 
            margin-top: 0px;
            width: 800px;
            height: 700px;
        }
        .link {
            z-index: 11;
            position: relative;
            text-decoration: underline;
        }
        .link:hover {
            opacity: 0.5;
        }
        @media only screen and (width <= 798px) {
            .code {
                width: 97%;
            }
            #soundcloud-player {
                width: 90vw;
                margin-top: 10px;
            }
            #welcome {
                margin-top: 80px;
                font-size: 100px;
            }            
            #logo-img {
                width: 60px;
            }
            .image {
                height: 100px;
                width: 150px;
            }
            body {
                width: 98vw;
                font-size: small;
            }
            .about {
                width: max-content;
            }
            .wav-container {
                width: auto;
            }
        
            #nav-item {
                font-size: small;
            }
        }