        :root {
            --primary-color: rgb(220, 220, 0);
            --secondary-color: rgb(220, 220, 0);
        }
        body {
            background-color: black;
            font-family: serif;
            color: var(--primary-color);
            width: 100vw;  
        }
        footer {
            display: flex;
            margin-left: 10px;
            margin-top: 10px;
            justify-content: left;
        }
        #logo-img {
            width: 100px;
            height: auto;
        }
        #header {
            margin-top: 10px;
            margin-left: 10px;
            display: inline-flex;
            width: max-content;
            align-items: center;
        }
        #welcome {
            font-size: 97.5px;
            margin: 0;
            font-weight: normal;
            margin-left: 10px;
        }
        .dividing-line {
            margin-top: 20px;
            width: 100%;
            border-bottom: 1px solid ;
        }
        #content {
            display: grid;
            width: 100%;
            margin: 10px;
            justify-items: left;
            justify-content: left;
        }
        #link-container {
            height: 100%;
            border: 1px solid var(--primary-color);
        }
        p {
            font-family: serif;
            margin: 0;
            margin-top: 5px;
        }
        a {
            color: var(--primary-color);
            text-decoration: none;
        }
        #nav {
            margin: 10px;
            padding: 0;
            display: flex;
            height: auto;
        }
        #nav-item {
            cursor: pointer;
            color: var(--secondary-color);
            font-family: Serif;
            margin-right: 10px;
            list-style: none;
            border: 1px solid var(--secondary-color);
            padding: 10px;
        }
        #nav-item:hover {
            background-color: var(--secondary-color);
            color: black;
        }
        .image-div {
            width: 96vw;
            overflow: hidden;
            display: block;
        }
        .image {
            border: 1px var(--secondary-color) solid;
            height: 200px;
            margin-right: 1px;
            margin-top: 1px;
        }
        ::-webkit-scrollbar {
            height: 5px;
            width: 5px;
            cursor: pointer;
            background: transparent;
            border-radius: 5px;
        }
        .wav {
            margin-left: 10px;
            background-color: var(--primary-color);
        }
        ::-webkit-media-controls-panel {
            background: var(--primary-color);
        }
        .wav-container {
            justify-content: space-between;
            width: 660px;
            padding-left: 10px;
            border: 1px solid var(--primary-color);
            font-family: Serif;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
        #widget {
            border-radius: 0x !important;
            border: 1px solid var(--secondary-color);
            background-color: black;
        }
        .g-background-default {
            background-color: #FFFF00 !important;
        }
        .about {
            color: var(--secondary-color);
            font-family: Serif;
            margin-top: 10px;
        }
        .text-link {
            width: max-content;
            margin-top: 10px;
            font-family: Serif;
            color: var(--secondary-color);
            text-decoration: underline !important;
        }
        #soundcloud-player {
            border: 1px solid yellow; 
            padding: 5px; 
            margin-top: 10px;
            width: 600px;
            height: 700px;
        }
        .link {
            text-decoration: underline;
        }
        .link:hover {
            opacity: 0.5;
        }

        @media only screen and (width <= 798px) {
            #soundcloud-player {
                width: 90vw;
            }
            #welcome {
                font-size: 50px;
            }
            #logo-img {
                width: 50px;
            }
            .image {
                height: 100px;
            }
            body {
                width: 95vw;
                font-size: small;
            }
            .about {
                width: max-content;
            }
            .wav-container {
                width: auto;
            }
        }